<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:comtext="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context
		https://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop
		https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--1 扫描service下的包-->
    <comtext:component-scan base-package="com.zwb.service"/>

    <!--2 将我们的所有业务类，注入到spring，可以通过配置，或者注解实现-->
    <bean id="BookServiceImpl" class="com.zwb.service.BookServiceImpl">
        <property name="bookMapper" ref="bookMapper"></property>
    </bean>

    <!--3 声明式事务配置-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--注入数据源-->
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <!--4 aop事务支持-->
    <!--结合aop实现事务的注入-->
    <!--配置事务通知：-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <!--给哪些方法配置事务-->
        <!--给配置事物的传播特性： new propagation = -->
       <tx:attributes>
            <tx:method name="*"  propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

	<!--<tx:annotation-driven transaction-manager="txManager"/>-->	
	
    <!--配置事务切入-->
    <aop:config>
        <aop:pointcut id="tx1" expression="execution(* com.zwb.service.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="tx1"></aop:advisor>
    </aop:config>


</beans>
